<div class="container mt-5">
  <h1 class="text-center">Hubungi Kami</h1>
  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <iframe height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=enigma&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card py-5">
        <div class="row px-5">
          <div class="col-sm-2">
            <img src="assets/img/location.png" alt="" width="25">
          </div>
          <div class="col-sm-10">
            <h5>PT Stockbit Sekuritas Digital</h5>
            <p>Menara Standard Chartered Lt. 33 Jl. Prof. Dr. Satrio No. 164, Kelurahan Karet Semanggi, Kecamatan Setiabudi Jakarta Selatan, 12930</p>
          </div>
        </div>
        <div class="row px-5">
          <div class="col-sm-2">
            <img src="assets/img/message.png" alt="" width="25">
          </div>
          <div class="col-sm-10">
            <h5>Kontak Utama</h5>
            <p>Untuk segala pertanyaan dan masalah, kamu dapat mengunjungi pusat bantuan kami. Jika kamu membutuhkan bantuan lebih jauh, kamu dapat mengirimkan email ke support@stockbit.com.</p>
          </div>
        </div>
        <div class="row px-5">
          <div class="col-sm-2">
            <img src="assets/img/phone.png" alt="" width="25">
          </div>
          <div class="col-sm-10">
            <h5>Telepon</h5>
            <p>+62 21 50959-330</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
