<div class="container py-lg-5">
  <h1 class="text-center">Visi & Misi</h1>
  <div class="card my-5">
    <div class="row ">
      <div class="col-sm-3">
        <img src="https://assets-nextjs.stockbit.com/images/vision.svg">
      </div>
      <div class="col-sm-9 mt-lg-5">
        <h3>Visi Persusahaan</h3>
        <p class="mt-5">Visi kami adalah menjadi penasihat, perantara, dan rekanan yang terpercaya untuk membantu nasabah dalam menentukan strategi finansial di pasar modal indonesia. Stockbit Sekuritas Digital berkomitmen untuk memberikan layanan yang handal dan konsisten untuk kepentingan nasabah.</p>
      </div>
    </div>
  </div>
  <div class="card my-5">
    <div class="row ">
      <div class="col-sm-3">
        <img src="https://assets-nextjs.stockbit.com/images/mission.svg">
      </div>
      <div class="col-sm-9 mt-lg-5">
        <h3>Misi Perusahaan</h3>
        <p class="mt-5">Misi kami adalah untuk menyediakan sarana investasi pasar modal yang mudah, aman dan nyaman untuk pemula. Selain itu, Misi penting kami juga terbagi dalam 3 hal utama, yaitu:</p>
        <ul>
          <li>Meningkatkan literasi keuangan dengan meningkatkan edukasi dan kesadaran berinvestasi</li>
          <li>Berkontribusi dalam suatu sistem pasar modal yang bekerja dengan baik dan inklusif</li>
          <li>Berkontribusi untuk memperdalam pasar modal sehingga memperkuat platform penggalangan dana untuk perusahaan Indonesia</li>
        </ul>
      </div>
    </div>
  </div>
</div>
