<div class="px-5 py-5 my-5  text-center">
  <img class="d-block mx-auto mb-4" src="https://asixtoken.com/assets/images/coin%20300-02.png" alt="" width="20%" height="20%">
  <h1 class="display-5 fw-bold">Selamat datang di <span class="text-success">News Asix</span></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Investasi Saham Bersama KOMUNITAS <br>
      news-asix adalah aplikasi untuk kamu yang ingin berdiskusi, analisa dan investasi saham dalam satu tempat.
    </p>
  </div>
</div>
