<div class="container py-lg-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 30rem;">
        <div class="card-body shadow-sm">
          <ul>
            <li>2000 <br> <span class="fw-bold">Perubahan Management dan Kepemilikan</span></li>
          </ul>
          <ul>
            <li>2007 <br> <span class="fw-bold">Menggunakan Remote Trading</span></li>
          </ul>
          <ul>
            <li>2009 <br> <span class="fw-bold">Berpartisipasi dalam Transaksi Negosiasi PT Adaro Energy senilai Rp15,73 Triliun</span></li>
          </ul>
          <ul>
            <li>2021 <br> <span class="fw-bold">Terdaftar di KSEI dan IDX sebagai sekuritas yang dapat melakukan pembukaan rekening efek secara digital</span></li>
          </ul>
          <ul>
            <li>2021 <br> <span class="fw-bold">Perubahan Manajemen & Kepemilikian dari PT Mahakarya Artha Sekuritas menjadi PT Stockbit Sekuritas Digital</span></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h1 class="fs-1">Informasih Perusahaan</h1>
      <p class="fs-6">Berdiri sejak tahun 1990 dengan nama PT Mahakarya Artha Sekuritas dan terdaftar di OJK dengan nomor izin KEP-132/PM/1992, PT Mahakarya Artha Sekuritas terus berkomitmen dalam meningkatkan jumlah investor di Indonesia untuk membantu perekonomian nasional. Pada Desember 2021, PT Mahakarya Artha Sekuritas telah resmi diakuisisi dan berganti nama menjadi PT Stockbit Sekuritas Digital.</p>
      <p class="fs-6">Sebagai perusahaan efek yang telah memiliki pengalaman, PT Stockbit Sekuritas Digital berkomitmen untuk terus melakukan inovasi dan memberikan layanan serta pengalaman investasi yang mudah, aman dan terpercaya bagi investor melalui teknologi kelas dunia untuk dapat memfasilitasi masyarakat dalam berinvestasi secara mudah di pasar modal Indonesia melalui layanan perdagangan saham online yang modern. Melalui aplikasi investasi sosial Stockbit investor dapat berdiskusi sekaligus melakukan transaksi saham secara daring. Pembukaan akun rekening sekuritas juga dapat dilakukan melalui aplikasi Stockbit yang dapat diunduh melalui Playstore dan Appstore.</p>
    </div>
  </div>
</div>
