<div class="container mt-5">
  <div class="row text-center">
    <div class="col-sm-6">
      <h1>Your Daily Snips Of Market News</h1>
      <br>
      <p>Cuplikan berita pasar saham terhangat dikirim setiap hari ke email kamu</p>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <input type="email" id="inputEmail" class="form-control">
        </div>
        <div class="col-auto">
          <a class="btn btn-success">Subscribe</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/Saly-44.png" alt="" style="width: 50%">
    </div>
  </div>
</div>
